<%- include header %>
    <h1>Edit Student</h1>
    <form method="post" action="/students/profile/<%= student.id %>">
        <% if (message) { %>
            <p><%= message %></p>
        <% } %>
        <label for="name">Name: </label>
        <input type="text" name="name" value="<%= student.name %>" autofocus="autofocus">
        <label for="age">Age: </label>
        <input type="number" name="age" value="<%= student.age %>">
        <label for="sex">Sex: </label>
        <input type="text" name="sex" value="<%= student.sex %>">
        <label for="country">Country: </label>
        <input type="text" name="country" value="<%= student.country %>">
        <button type="submit">Edit</button>
        <button type="button" class="deleteButton" id="<%= student.id %>">Delete</button>
    </form>
    <a href="/students">Back</a>
    <script src="/main.js"></script>
<%- include footer %>